button{
    height: 50px;
    background: $blue;
    box-shadow: 0px 4px 10px rgba(38, 160, 221, 0.2);
    border-radius: 100px;
    border: 0;
    color:$white;
    font-weight: $fontweigth_semibold;
    font-family: $font_name;
    padding: 10px;
    width: 25%;
}