.sidebar {
  position: fixed;
    right: 0;
  height: 100%;
  box-shadow: 2px 4px 30px rgba(38, 160, 221, 0.15);
  .tab {
    &:last-child {
      border: none;
    }
    padding: 20px;
    border-bottom: 1px solid rgba(38, 160, 221, 0.25);
    font-size: $fontsize_big;
    .profile {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: 3px solid $red;
      margin-top: 20px;
    }
    .floor {
      font-weight: $fontweigth_semibold;
    }
    .msg {
      font-size: $fontsize_general;
      padding: 0;
      margin-top: 25px;
      li {
        list-style: none;
          @include star;
      }
    }
    &.logout{
      position: absolute;
      bottom: 0;
      width: 100%;
      color: $black;
      span{
        padding: 20px;
        margin-right: 10px;
        background-image: url(../img/logout.svg);
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }
}
